body {
  color: #000000;
  background: linear-gradient(to left, rgba(122, 122, 122, 0.8), rgba(204, 204, 204, 0.8));
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .cuerpoInfo {
    flex-wrap: wrap;
  }
  .ettoFooter {
    flex-basis: 100%;
  }
}
.cuerpoInfo {
  background: linear-gradient(to left, rgb(29, 95, 20), #008000);
  width: 100%;
  height: 100%;
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  border-top: none;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  margin: 1%;
  margin-top: 0%;
}

.logoEtto {
  width: 22rem;
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (max-width: 400px) {
  .logoEtto {
    width: 16.5rem;
  }
}
.itemNav {
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
}

.nav-item {
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
}

.nav-link {
  font-size: 1.2rem;
  color: rgba(230, 230, 230, 0.87);
  text-transform: uppercase;
  background: linear-gradient(to left, #008000, rgb(29, 95, 20));
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0.5rem;
  text-align: center;
  padding: 3% 2%;
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 1.5rem;
  }
}
.mainGeneral {
  background-image: linear-gradient(to left, #008000, rgb(29, 95, 20));
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  max-width: 100rem;
  margin: 0.5rem;
  padding: 0.3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSimple {
  width: 13rem;
  height: 13rem;
}

.imagen {
  width: 30%;
  height: 30%;
  margin: 1%;
  border: black solid 5px;
  border-radius: 10px;
}

.difContenedor {
  transform: rotate(-2deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  background: linear-gradient(to left, #41913e, rgba(41, 95, 34, 0.897));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 0%;
  margin: 1%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.difCategoria {
  transform: rotate(2deg);
  background: linear-gradient(to left, rgba(41, 95, 34, 0.897), #41913e);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 100%;
}

.tituloContenedor {
  transform: rotate(-1deg);
  background: linear-gradient(to left, #41913e, rgba(41, 95, 34, 0.897));
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 0% 0%;
  margin: 2.5rem 2rem;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
}

.tituloPags {
  background: linear-gradient(to left, #4ca849, rgba(56, 128, 46, 0.897));
  font-size: 90%;
  text-align: center;
  color: black;
  transform: rotate(1deg);
  width: 100%;
  padding: 0.5% 2%;
  margin: 0%;
}

@media (max-width: 602px) {
  .tituloPags, .tituloContenedor {
    font-size: 2.5rem;
  }
}
@media (max-width: 518px) {
  .tituloPags, .tituloContenedor {
    font-size: 1.7rem;
  }
}
.titulo1Producto {
  background: linear-gradient(to left, #41913e, rgba(41, 95, 34, 0.897));
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  transform: rotate(3deg);
  padding: 0%;
  margin: 2.5rem 1rem;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 95%;
}

.tituloProducto {
  background: linear-gradient(to left, #41913e, rgba(41, 95, 34, 0.897));
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-size: 3.5rem;
  text-align: center;
  color: black;
  transform: rotate(-3deg);
  width: 100%;
  padding: 0;
  margin: 0%;
}

@media (max-width: 700px) {
  .tituloProducto {
    font-size: 2.5rem;
  }
}
@media (max-width: 540px) {
  .tituloProducto {
    font-size: 1.5rem;
  }
}
.btn-comprar {
  margin-top: 0.5rem;
  padding: 0.1rem 0.65rem;
  margin-bottom: 1rem;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productoHijo {
  width: 17rem;
  height: 17rem;
  border: 3px solid black;
  border-radius: 10px;
  max-width: 100%;
  margin: 0.2rem;
}

.pieProducto {
  font-size: 1.8rem;
  text-align: center;
  background: linear-gradient(to left, #41913e, rgba(41, 95, 34, 0.897));
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: block;
  font-weight: bold;
}

.precioProducto {
  font-size: 125%;
  text-align: center;
  background: linear-gradient(to left, #ffffff, rgba(230, 228, 228, 0.8705882353));
  border: 3px solid black;
  border-radius: 1rem;
  margin: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-weight: bold;
}

.linkTitulo {
  width: 320px;
  background-color: rgb(16, 182, 16);
  text-align: center;
  border: black solid 2px;
  border-radius: 10px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.reparto {
  background: linear-gradient(to left, #49a746, rgba(37, 107, 28, 0.897));
  transform: rotate(3deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  margin: 2rem;
}

.tituReparto {
  background: linear-gradient(to left, rgba(37, 107, 28, 0.897), #49a746);
  transform: rotate(-3deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 1rem;
  padding: 0.2rem;
}

.listaReparto {
  transform: rotate(-3deg);
  padding: 0.5rem 1.5rem;
}

.mapa {
  display: flex;
  flex-direction: column;
}

.mapaContenedor {
  background: linear-gradient(to left, rgba(37, 107, 28, 0.897), #49a746);
  transform: rotate(-3deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0%;
  margin: 2rem 2rem;
}

.mapaTitulo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.mapaCaja {
  background: linear-gradient(to left, rgba(37, 107, 28, 0.897), #49a746);
  transform: rotate(3deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapaLink {
  font-size: 1.8rem;
  background: linear-gradient(to left, #49a746, rgba(37, 107, 28, 0.897));
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0;
}

.imgCaja {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(37, 107, 28, 0.897), #49a746);
  transform: rotate(3deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgLocal {
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #49a746, rgba(37, 107, 28, 0.897));
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  margin: 1rem;
  padding: 3%;
}

.imgNos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  border-radius: 1rem;
  margin: 0 2%;
}

@media (max-width: 742px) {
  .imgLocal {
    display: flex;
    flex-direction: column;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.formulario {
  width: 100%;
  padding: 0% 2% 2% 2%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1100px) {
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0.5rem;
    padding: 0% 6% 6% 6%;
  }
}
.tituFormulario {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .tituFormulario {
    font-size: 1.6rem;
    text-overflow: ellipsis;
  }
}
.cajaCont {
  background: linear-gradient(to left, #49a746, rgba(37, 107, 28, 0.897));
  padding: 1rem;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 2rem;
  transform: rotate(-2deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .cajaCont {
    display: flex;
    flex-direction: column;
  }
}
.contDoc {
  background: linear-gradient(to left, rgba(37, 107, 28, 0.897), #49a746);
  margin: 0.25rem 0.75rem;
  padding: 2%;
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.aquiTitu {
  font-size: 1.5rem;
  padding: 0.25rem 2rem;
}

.btnAqui {
  margin-top: 0;
  padding: 0.1rem 0.65rem;
  margin-bottom: 1rem;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contWhat {
  background: linear-gradient(to left, rgba(37, 107, 28, 0.897), #49a746);
  margin: 0.25rem 0.75rem;
  padding: 2%;
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.whatTitu {
  font-size: 1.5rem;
  padding: 0.25rem;
}

.linkWpp {
  font-size: 1.3rem;
  width: 90%;
  padding: 0.4rem 0.2rem;
  margin: 2.5%;
  background: linear-gradient(to left, #49a746, rgba(37, 107, 28, 0.897));
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.imgWpp {
  width: 2rem;
}

.listaDuda {
  list-style: none;
  padding: 0%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 471px) {
  .listaDuda {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
    padding: 0.1rem;
  }
}
.contenedorRedes {
  background: linear-gradient(to left, #49a746, rgba(37, 107, 28, 0.897));
  transform: rotate(2deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: auto;
}

.contenedorDudas {
  background: linear-gradient(to left, #49a746, rgba(37, 107, 28, 0.897));
  transform: rotate(2deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

@media (max-width: 561px) {
  .contenedorDudas, .contenedorRedes {
    margin: 0.5rem 0rem;
  }
}
.cajaRedes {
  background: linear-gradient(to left, #49a746, rgba(37, 107, 28, 0.897));
  padding: 0.75rem;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 2rem;
  transform: rotate(-2deg);
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.listaRedes {
  list-style: none;
  padding: 0%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 471px) {
  .listaRedes {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
    padding: 0.1rem;
  }
}
.logoRed {
  width: 7rem;
  height: 7rem;
  border: black 4px solid;
  border-radius: 40px;
  margin: 1.4rem 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.contPags {
  flex: none;
  font-size: 4rem;
  background: linear-gradient(to left, rgba(56, 128, 46, 0.897), #4ca849);
  border: 3px solid black;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  margin: 0.5rem 0 1rem;
  color: black;
}

.problema {
  display: flex;
  flex-direction: row;
}

.ettoFooter {
  padding-left: 0.5rem;
}

.cuerpoFooter {
  background-color: #008000;
  width: 100%;
  height: 100%;
  border: rgba(0, 0, 0, 0.7137254902) solid transparent;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  margin: 1%;
  margin-bottom: 0%;
  border-bottom: none;
  padding-top: 0.25rem;
}

.nav-item {
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-item {
  color: rgba(230, 230, 230, 0.87);
}

* {
  margin: 0;
  padding: 0;
}

span {
  transform: rotate(-3deg);
}

/*# sourceMappingURL=estilo.css.map */
